<%- include('header'); -%>

    <div class='content'>
        <h1>Name</h1>
        <h3>Ali</h3>
        <br>
        <h1>Address</h1>
        <h3>District Sharjah; Street 135A; Appartment 702</h3>
        <br>
        <h1>Phone</h1>
        <h3>0501234567</h3>
        <br>
        <h1>Email</h1>
        <h3>Ali123@gmail.com</h3>
    </div>

    <%- include('footer'); -%>