<%- include('header'); -%>

    <div class='content'>
        <h2>Name</h2> <h3>Robert</h3>
        <br>
        <h2>Address</h2>
        <h3>District Old town; Street 135A; Appartment 702</h3>
        <br>
        <h2>Phone</h2>
        <h3>04-2221133</h3>
        <br>
        <h2>Email</h2>
        <h3>Robert123@hw.ac.uk</h3>
        <br>
        <br>
    </div>

    <%- include('footer'); -%>